@import '../../Assets/Colors.scss';

.main-holder {
    width: 100%;
}

.main-holder-dark-mode {
    width: 100%;
    background-color: $very-dark-blue-light-mode;
}
.row {
    max-width: 1024ox;
    margin: 0 auto;
}

.main-place {
    background-color: $very-light-gray;
    position: relative;
}

.main-place-dark-mode {
    background-color: $very-dark-blue-light-mode;
    position: relative;
}


.boxes-Place {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

@media screen and (max-width: 480px) {
    .boxes-Place {
        flex-direction: column;
    }
}
