@import '../../Assets/Colors.scss';

.box {
    background-color: $white;
    border-radius: 5px;
    box-shadow: 0px 4px 5px 0px rgba(0, 0, 0 , 0.10);
    height: 280px;
    margin-bottom: 50px;
    margin-right: 26px;
    padding-bottom: 20px;
    position: relative;
    width: 230px;
}

.box-dark-mode {
    background-color: hsl(207, 26%, 17%);
    border-radius: 5px;
    height: 280px;
    margin-bottom: 50px;
    margin-right: 26px;
    padding-bottom: 20px;
    position: relative;
    width: 230px;
}

.box__div--picture {
    background-size: cover;
    border-radius: 5px;
    height: 150px;
    width: 230px;
}

.box__country-name {
    font-size: 20px;
    margin-left: 15px;
    margin-top: 20px;
}

.box__country-name-dark-mode {
    color: white;
    font-size: 20px;
    margin-left: 15px;
    margin-top: 20px;
}

.box__div--tags {
    margin-top: 15px;
}

.box__country-info {
    color: $very-dark-blue-light-mode;
    font-size: 10px;
    margin-left: 15px;
}

.box__country-info-dark-mode {
    color: white;
    font-size: 10px;
    margin-left: 15px;
}

.box__country-info:not(:first-child) {
    margin-top: -15px;
}

.box__country-info-dark-mode:not(:first-child) {
    margin-top: -15px;
}

.box__country-info--span-in-gray{
    color:gray;
}

@media screen and (max-width: 480px) {
    .box:first-of-type {
        height: 320px;
        margin-left: 40px;
        margin-top: 100px;
        margin-top: 40px;
        position: relative;
        width: 330px;
    }

    .box-dark-mode:first-of-type {
        height: 320px;
        margin-left: 40px;
        margin-top: 100px;
        margin-top: 40px;
        position: relative;
        width: 330px;
    }

    .box {
        height: 320px;
        margin-left: 40px;
        width: 330px;
    }

    .box-dark-mode {
        height: 320px;
        margin-left: 40px;
        width: 330px;
    }

    .box__country-name  {
        font-size: 15px;
    }

    .box__country-name-dark-mode  {
        font-size: 15px;
    }

    .box__div--picture {
        height: 190px;
        width: 330px;
    }

    .box__country-info {
        margin-top: 5px;
    }

    .box__country-info-dark-mode {
        margin-top: 5px;
    }
}
