@import '../../Assets/Colors.scss';

.main-place {
  align-items: center;
  background-color: $very-light-gray;
  display: flex;
  justify-content: space-between;
  padding: 48px 0;
}

.main-place__search-div {
  background-color: $white;
  border-radius: 5px;
  border: none;
  box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.10);
  margin: 48px 0;
  position: relative;

}

.icon-search {
  color: gray;
  margin-left: 18px;
}

.main-place__input {
  border-radius: 5px;
  border: none;
  height: 40px;
  padding-left: 20px;
  width: 350px;
}

.main-place__select {
  background-color: $white;
  border-radius: 5px;
  border: none;
  box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.10);
  color: rgb(102, 102, 102);
  height: 40px;
  margin-right: 20px;
  padding-left: 10px;
  width: 202px;
}

@media screen and (max-width: 480px) {
  .main-place {
    flex-direction: column;
    padding: 36px 0;
  }

  .main-place__input  {
    margin-left: 15px;
  }

  .icon-search {
    color: gray;
    margin-left: 13px;
    margin-left: 30px;
    margin-top: -31px;
    position: flex;
  }

  .main-place__select {
    align-self: start;
    display: flex;
    margin-left: 25px;;
    margin-top: -40px;
  }
}
